body {
    background-image: url('/emotion_api/imagenes/fondo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.container {
    max-width: 600px;
    
}

#form-box {
    border: 1px solid #ced4da;
    background-color: grey;
}

#selected-image {
    display: block;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    color: black;
}
label[for="image"] {
    font-family: Arial, sans-serif;
    color: white;
}
input[type="file"]:not(:valid) + label + img + #submit-button {
    color: white; /* Cambia el color del texto a blanco */
}